/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif; }

h2, h3 {
  color: #dd7443;
  text-align: center;
  font-weight: normal; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

body {
  display: flex;
  flex-direction: column; }

/* Header */
header {
  background-color: rgba(12, 60, 90, 0.952);
  box-shadow: 0px 1px 5px 0px #0c3c5a;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.logo {
  height: 100%;
  width: 12.5vw; }
  .logo .logo__Img {
    height: 100%;
    width: 100%; }

/**/
.menuDesktop {
  height: 50px;
  width: 87.5vw;
  line-height: normal; }
  .menuDesktop .menuDesktop__Bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px; }
    .menuDesktop .menuDesktop__Bar li {
      list-style-type: none;
      height: 70%;
      width: 200px;
      font-size: 25px;
      text-align: center;
      padding: 5px 10px;
      box-sizing: initial;
      transition: 0.7s;
      transition-timing-function: ease-in; }
      .menuDesktop .menuDesktop__Bar li a {
        text-decoration: none;
        color: white;
        transition: 1s;
        transition-timing-function: ease-in; }

.menuDesktop__Bar li:hover {
  background-color: beige;
  border-radius: 10px;
  box-shadow: 3px 2px 3px midnightblue;
  transition: 0.7s;
  text-transform: uppercase;
  width: 250px;
  transition-timing-function: ease-in; }

.menuDesktop__Bar li:hover a {
  color: #24667c;
  transition: 1s;
  transition-timing-function: ease-in; }

/**/
#menuMobile {
  display: none;
  background-color: rgba(12, 60, 90, 0.952);
  box-shadow: 0px 1px 5px 0px #0c3c5a; }

#menuMobile ul {
  margin-bottom: 0px;
  padding-left: 0px; }
  #menuMobile ul li {
    list-style-type: none;
    text-align: center; }
    #menuMobile ul li ul {
      display: none; }
      #menuMobile ul li ul li {
        background-color: beige;
        padding: 3px;
        transition: 1s;
        transition-timing-function: ease-in; }
        #menuMobile ul li ul li a {
          text-decoration: none;
          color: #24667c;
          border-radius: 5px;
          padding: 3px;
          transition: 0.5s;
          transition-timing-function: ease-in; }

#menuMobile ul li:hover ul {
  display: block; }

#menuMobile ul li ul li a:hover {
  background-color: #becfe5;
  transition: 0.5s;
  transition-timing-function: ease-in;
  text-transform: uppercase; }

.imgLogo {
  height: 20vh;
  width: 30vw; }

/*Encabezado*/
.encabezado {
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.encabezado__Back {
  height: 100%;
  width: 100vw;
  opacity: 0.65; }

.encabezado__Front {
  position: absolute;
  z-index: 1;
  font-size: 75px;
  font-weight: lighter;
  color: rgba(12, 60, 90, 0.952);
  border-bottom: 1px solid rgba(12, 60, 90, 0.952); }

/* Footer */
footer {
  background-color: beige;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  border-top: 1px solid wheat;
  box-shadow: 0px 0px 5px 0px wheat;
  border-radius: 3.5px; }

#inst {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.logoCtcu img {
  height: 80%;
  width: auto;
  margin-top: 15px;
  border-right: 1px solid grey;
  padding-right: 30px; }

.logoCamarco img {
  height: 100%;
  width: 150px; }

.soMe {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.soMe__iconSoMe img {
  height: 27px; }

.soMe__iconSoMe img:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg); }

#copyRight {
  height: 97%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #copyRight p {
    margin-bottom: 0px;
    line-height: normal;
    color: black; }

/* Home */
#home {
  height: 800px;
  width: 100vw;
  margin: 1px 0px;
  background-image: url("../imagenes/construc5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

#badgeMotto {
  width: 60vw;
  height: 70px;
  border-radius: 10px;
  margin: 20px; }

#badgeMotto:hover {
  background-color: beige;
  opacity: 0.7; }

.motto {
  color: beige;
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  height: 50px;
  margin-top: 5px; }

#badgeMotto:hover .motto {
  color: #24667c; }

.us {
  width: 90vw;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 70px; }
  .us .us__Aside {
    width: 40%;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .us .us__Aside p {
      box-shadow: 1px 1px 5px wheat;
      border-radius: 10px;
      padding: 27px;
      margin: 0 20px;
      font-size: 25px;
      text-align: justify;
      color: rgba(12, 60, 90, 0.952);
      background-color: beige; }
    .us .us__Aside img {
      height: 100%;
      border-radius: 10px; }
  .us .boxImg {
    width: 60%; }

/* "Servicios" */
#services {
  height: 1170px; }

.serv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px; }

.serv__Rows {
  height: 350px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.serv__Rows--Items {
  height: 200px;
  width: 300px;
  box-shadow: 1px 1px 5px rgba(12, 60, 90, 0.952);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  transition-timing-function: ease-in; }

.serv__Rows--Items:hover {
  height: 330px;
  transform: scale(1.1);
  transition: 1s;
  transition-timing-function: ease-in; }

.it--Img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  opacity: 0.8;
  transition: 1s; }

.serv__Rows--Items:hover .it--Img {
  opacity: 0.5;
  transition: 1s;
  transition-timing-function: ease-in; }

.it--Label {
  position: absolute;
  top: 21%;
  left: 20%;
  font-size: 25px;
  font-weight: normal;
  border-bottom: 1px solid rgba(12, 60, 90, 0.952);
  color: rgba(12, 60, 90, 0.952); }

.medSize {
  left: 25%; }

.smaSize {
  left: 40%; }

.it--List {
  display: flex;
  flex-direction: row;
  justify-content: left; }

.it--List ul {
  margin-left: 25px; }
  .it--List ul li {
    color: rgba(12, 60, 90, 0.952); }

/*Section Contact*/
#contact {
  height: 1000px; }

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 600px;
  padding: 30px; }

#contactForm {
  border-radius: 10px;
  padding: 30px;
  background-color: beige;
  box-shadow: 1px 1px 5px wheat;
  width: 40%;
  height: 100%; }

.form--Map {
  border-radius: 10px;
  width: 40%;
  height: 100%;
  opacity: 0.8; }

.form--Map:hover {
  opacity: 1; }

/* "Blog" */
.blog__Grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "articulo1 articulo1 aside1" "aside2 articulo2 articulo2" "articulo3 articulo3 aside3";
  grid-template-rows: 10% 25% 25% 25%;
  grid-template-columns: 20% 43% 20%;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center; }
  .blog__Grid p {
    text-align: justify; }

.encabezados {
  grid-area: titulo; }

#art1 {
  grid-area: articulo1; }

#art2 {
  grid-area: articulo2; }

#art3 {
  grid-area: articulo3; }

#as1 {
  grid-area: aside1; }

#as2 {
  grid-area: aside2; }

#as3 {
  grid-area: aside3; }

#art1, #art2, #art3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  border: 1px solid wheat;
  box-shadow: 0px 1px 5px 0px lightskyblue;
  border-radius: 10px;
  color: rgba(12, 60, 90, 0.952);
  background-color: beige;
  transition: 1s;
  transition-timing-function: ease-in; }

.margRight {
  margin-right: 5px; }

.margLeft {
  margin-left: 5px; }

.imgSize {
  height: 100%;
  width: 100%;
  border-radius: 10px; }

#blog article:hover {
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-color: rgba(12, 60, 90, 0.952);
  border: 1px solid #0c3c5a;
  color: white; }

.imgSize:hover {
  animation-name: scale;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in; }

@keyframes scale {
  25% {
    transform: scale(1.1, 1.1); } }

/*MQuery para Mobile*/
@media (max-width: 600px) {
  #home {
    height: 60vh; }
    #home #badgeMotto {
      width: 95vw;
      height: 50px; }
      #home #badgeMotto .motto {
        font-size: 2.5rem; }
  header {
    display: none; }
  #menuMobile {
    display: block; }
  .us {
    display: block;
    margin: 0px;
    height: 920px;
    width: 100vw; }
    .us .us__Aside {
      width: 100%;
      height: 400px;
      display: block; }
      .us .us__Aside p {
        width: 90%;
        margin: 12px;
        padding: 15px;
        font-size: 20px; }
      .us .us__Aside img {
        height: 100%;
        width: 95%;
        border-radius: 10px;
        margin: 0px 12px; }
    .us .boxImg {
      height: 500px;
      width: 100%; }
  .serv__Rows--Items {
    padding: 0px 5px; }
  .serv__Rows--Items:hover {
    height: 330px;
    transform: scale(1);
    transition: 1s;
    transition-timing-function: ease-in; }
  #contact {
    height: 1470px; }
  .form {
    display: block;
    width: 100vw;
    height: 1070px;
    padding: 0px; }
    .form #contactForm {
      border-radius: 10px;
      padding: 20px;
      background-color: beige;
      box-shadow: 1px 1px 5px wheat;
      width: 90%;
      height: 500px;
      margin: 25px; }
    .form .form--Map {
      border-radius: 10px;
      width: 90%;
      height: 500px;
      opacity: 0.8;
      margin: 0px 25px; }
    .form .form--Map:hover {
      opacity: 1; }
  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  #inst {
    display: none; }
  .soMe {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 35px; }
  .soMe__iconSoMe {
    margin-right: 30px; } }
