/* General */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
}
h2,h3 {
    color: rgb(221, 116, 67);
    text-align: center;    
}
h2 {
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}

body {
    display: flex;
    flex-direction: column;    
}
/* Header */
header {
    background-color: rgba(12, 60, 90, 0.952); 
    border-bottom: 3px solid rgb(12, 60, 90);
    box-shadow: 0px 1px 5px 0px rgb(12, 60, 90);
    border-radius: 3.5px;      
    /*height: 20vh;*/
    width: 100vw;  
    display: flex;
    flex-direction: row; 
    align-items: center;
    /*margin-bottom: 0 !important;*/
}

#logoDesktop {      
    height: 20vh;
    width: 12.5vw;
    
     img {
        height: 100%;
        width: 100%;
    }
}
/**/
#menuDesktop {   
    width: 87.5vw;      
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
    /*margin-bottom: 0px !important;*/
    line-height: normal;

     ul{    
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        margin-bottom: 0px;
        padding-left: 0px;

         li {
            list-style-type: none;
            width: 95px; 
            padding: 5px 10px;    
            box-shadow: 0px 0px 2px 0px lightskyblue;     
            background-color: beige;  
            border: 1px solid rgb(12, 60, 90);
            border-radius: 10px;
            box-sizing: initial;
            
                
            display: flex;
            flex-direction: row;
            justify-content: center;     

             a {
                text-decoration: none;
                color: rgba(12, 60, 90, 0.952);  
                
            }
        }
    }
}


#menuDesktop li:hover {
    background-color: rgb(190, 207, 229);
    /*border: 1px solid rgb(12, 60, 90);*/
    transition: 0.5s;
    text-transform: uppercase;
    
}
/*rgb(190, 207, 229)*/

/**/
#menuMobile {
    display: none;
    background-color: rgba(12, 60, 90, 0.952);
    border-bottom: 3px solid rgb(12, 60, 90);
    border-radius: 3px;
    
    
} 
#menuMobile ul {
    
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
    margin-bottom: 0px;
    padding-left: 0px;
    
     li {
        list-style-type: none;
        text-align: center;
        
        
        
        /*display: flex;
        flex-direction: column;
        justify-content: center;*/    
        
        ul {
            display: none;    
            
            li{
                background-color: beige;
                padding: 3px;    
                /*list-style-type: none;*/
                /*margin: 1px;*/
                
                a {
                    text-decoration: none;
                    color: rgb(36, 102, 124); 
                    border-radius: 5px;
                    padding: 3px;
                    
                }
            }
        }
    }
}
#menuMobile ul li:hover ul {
    display: block;
    
    

    /*border-bottom: 3px solid wheat;*/
    /*border-radius: 3px;*/    
}
#menuMobile ul li ul li a:hover {
    background-color: rgb(190, 207, 229);
    transition: 0.5s;
    text-transform: uppercase;
}
.imgLogo {
    height: 20vh;
    width: 30vw;
    
}
/* Footer */
footer {    
    background-color: beige;
    height: 20vh;
    width: 100vw;    
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    border-top: 1px solid wheat;
    box-shadow: 0px 0px 5px 0px lightskyblue;
    border-radius: 3.5px;
}
#inst {    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
     
}
.logoCtcu img {
    height: 80%; 
    width: 125px; 
     
    margin-top: 15px;   
    border-right: 1px solid grey;  
    padding-right: 30px;
    
}
.logoCamarco img {
    height: 100%; 
    width: 150px;  
    
          
}
.soMe {    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;       
    justify-content: space-evenly;
    align-items: center;   
     
}
.soMe__iconSoMe img {
    height: 27px;
    /*width: 70px;*/
    
}

.soMe__iconSoMe img:hover {
    /*filter: drop-shadow(0px 0px 3px darkblue);   */
    /*background-color: red;*/
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg)

}
#copyRight {    
    height: 97%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;             
}
