/*MQuery para Mobile*/
@media (max-width: 600px) {
    #home{
        height: 60vh;
        #badgeMotto {
            width: 95vw;
            height: 50px;            
            .motto{
                font-size: 2.5rem;
            }
        } 
    }
    header {
        display: none;
    }
    #menuMobile {
        display: block;
    }
    .us{
        display: block;        
        margin: 0px;
        height: 920px;
        width: 100vw;  

        .us__Aside {
            width: 100%;
            height: 400px;            
            display: block;
        
            p{
                width: 90%;
                margin: 12px;
                padding: 15px;                  
                font-size: 20px;              
            }
            img{
                height: 100%;
                width: 95%;
                border-radius: 10px;                
                margin: 0px 12px;                
            }  
        }
        
        .boxImg{           
            height: 500px;   
            width: 100%;             
        }        
    }
    .serv__Rows--Items{
        padding: 0px 5px;
    }
    .serv__Rows--Items:hover{
        height: 330px;
        transform: scale(1);
        transition: 1s;
        transition-timing-function: ease-in;
    }
    #contact{
        height: 1470px;
    }

    .form{
        display: block;
        width: 100vw;
        height: 1070px;        
        padding: 0px;
        
        #contactForm {            
            border-radius: 10px;
            padding: 20px;
            background-color: beige;
            box-shadow: 1px 1px 5px wheat;
            width: 90%;
            height: 500px;            
            margin: 25px;
        }
        .form--Map{            
            border-radius: 10px;
            width: 90%;
            height: 500px; 
            opacity: 0.8;            
            margin: 0px 25px;
        }
        .form--Map:hover{
            opacity: 1;            
        }
    }
          
    footer {
        display: flex;
        flex-direction: column-reverse;        
        align-items: center;       
    }
    #inst {
        display: none;
    }
    .soMe {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 35px;
    }
    .soMe__iconSoMe{        
        margin-right: 30px;
    }        
}  