/* "Servicios" */
#services {
    height: 1170px;
    border: 1px solid violet;
}
.serv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    border: 1px solid blue;
}
.serv__Rows{
    height: 350px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
}
.serv__Rows--Items{
    height: 200px;
    width: 300px;
    border: 1px solid yellowgreen;
    box-shadow: 1px 1px 5px midnightblue;
    border-radius: 10px;
    
    position: relative;    
    overflow: hidden;
    transition: 1s;
    transition-timing-function: ease-in;
}

.serv__Rows--Items:hover{
    height: 330px;
    transform: scale(1.1);
    transition: 1s;
    transition-timing-function: ease-in;
}

.it--Img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
    transition: 1s;
}


.serv__Rows--Items:hover .it--Img{
    opacity: 0.5;
    transition: 1s;
    transition-timing-function: ease-in;
}

.it--Label{
    position: absolute;
    top: 21%;
    left: 20%;
    font-size: 25px;
    //border: 1px solid red;
    font-weight: normal;
    border-bottom: 1px solid rgba(12, 60, 90, 0.952);
    color: rgba(12, 60, 90, 0.952);
    
}
.medSize{
    left: 25%;
}
.smaSize{
    left: 40%;
}
.it--List{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 1px solid red;
}
.it--List ul{
    border: 1px solid orange;
    margin-left: 25px;
    li{
        color: rgba(12, 60, 90, 0.952);
    }
}