*{
    margin: 0;
    padding: 0;
}

/* General */
h2,h3 {
    color: rgb(221, 116, 67);
    text-align: center;      
}
body {
    display: flex;
    flex-direction: column;    
}

/* Header */
header {
    background-color: rgba(12, 60, 90, 0.952);       
    height: 20vh;
    width: 100vw;  
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#logo {  
    /*height: 20vh:*/
    width: 180px;
    height: 153px;     
}
#menuDesktop {   
    width: 89vw;      
    display: flex;
    flex-direction: row;
    justify-content: center;      
           
}
#menuDesktop ul{    
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#menuDesktop li {
    list-style-type: none;    
    padding: 5px 10px;    
    box-shadow: 0px 1px 5px 0px lightskyblue;     
    background-color: bisque;  
    border-radius: 10px;
      
}
#menuDesktop li a {
    text-decoration: none;
    color: rgb(36, 102, 124);       
}
#menuDesktop li:hover {
    background-color: rgb(190, 207, 229);
    transition: 0.5s;
    text-transform: uppercase;
}

/* *** OJO Recordar siempre que las MQuery van al final del código porque sino
        el sistema no toma el resto del codigo *** */

/*@media (max-width: 600px) {
    header {
        display: none;
    }
    #menuMobile {
        display: block;
    }
    
}*/
#menuMobile {
    display: none;
    background-color: rgba(12, 60, 90, 0.952);    
} 
#menuMobile ul li {
    list-style-type: none;
    text-align: center;
}
#menuMobile ul li ul {
    display: none;
}
#menuMobile ul li:hover ul {
    display: block;
}
#menuMobile ul li ul li{
    background-color:bisque;
    list-style-type: none;
}
#menuMobile ul li ul li a {
    text-decoration: none;
    color: rgb(36, 102, 124); 
}
#menuMobile ul li ul li:hover {
    background-color: rgb(190, 207, 229);
    transition: 0.5s;
    text-transform: uppercase;
}

/*MQuery para Mobile*/
@media (max-width: 600px) {
    header {
        display: none;
    }
    #menuMobile {
        display: block;
    }
    
}
/* Main */
main {    
    height: 60vh;
    width: 100vw; 
}
#lema {
    color: rgb(221, 116, 67);
    font-size: 4.5rem;
    text-align: center;
    padding: 15%;
    font-style: italic;
}
.fondoLema {
    background-image: url("imagenes/construc\ 8.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Footer */
footer {    
    background-color: white;
    height: 20vh;
    width: 100vw;    
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}
#inst {    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logoCtcu img {
    height: 100%; 
    width: 125px;        
}
.logoCamarco img {
    height: 100%; 
    width: 150px;       
}
#soMe {    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;       
    justify-content: space-between;
    align-items: center;    
}
.iconSoMe img {
    height: 25px;
    width: 70px;       
}
.iconSoMe img:hover {
    filter: drop-shadow(0px 0px 3px darkblue);      
}
#copyRight {    
    height: 97%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;         
}

/* Section "Servicios" */

table {
    border: 3px solid;
}
th {
    background-color: lightslategray;
}
tr,td {
    border: 1px solid;
}

/* Section "Blog" */
.encabezados {
    grid-area: titulo;
    border: 1px solid yellowgreen;
    
}
#art1 {
    grid-area: articulo1;
    border: 1px solid violet;
}
#art2 {
    grid-area: articulo2;
    border: 1px solid violet;
}
#art3 {
    grid-area: articulo3;
    border: 1px solid violet;
}
#as1 {
    grid-area: aside1;
    border: 1px solid blue;
}
#as2 {
    grid-area: aside2;
    border: 1px solid blue;
}
#as3 {
    grid-area: aside3;
    border: 1px solid blue;
}

#blog {
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "articulo1 articulo1 aside1"
    "aside2 articulo2 articulo2"
    "articulo3 articulo3 aside3";
    grid-template-rows: 10% 25% 25% 25%;
    grid-template-columns: 20% 43% 20%;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
    /*justify-items: center;*/
    /*align-items: center; ** Para alinear la grilla usamos "content" a diferencia de 
                            "Flex" que solo usamos en caso de contener hijos multiples ** */ 
    /*height: 85%;
    width: 83%; ** Height y Width lo "heredan" del "Main" y no hacia falta modificarlos
                    para poder centrar el "grid" ** */
    border: 2px solid red;
    
}
.imgSize {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


/*h3,p {
    border: 1px solid orange;
}*/



/* Box ref. paleta de colores
    rgb(36, 102, 124)
    lightskyblue
    lightsteelblue
    darkgoldenrod */  